certifi==2024.8.30
charset-normalizer==3.4.0
cuda-selector==0.1.5
fastwer==0.1.3
idna==3.10
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
pillow==11.0.0
pybind11==2.13.6
requests==2.32.3
termcolor==2.5.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
